.firstPricingCard {
  border-radius: 15px;
  background: rgba(251, 176, 59, 0.2);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.pricingCard {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
