#headerphoto {
  height: 350px;
  width: 1000px;
  margin: 0 auto;
}

#content {
  align-content: center;
  display: flex;
  justify-content: center;
  word-break: normal;
  width: 950px;
  margin: 0 auto;
}

#highlights {
  margin-left: 130px;
}

@media only screen and (max-width: 768px) {
  #content {
    align-content: center;
    display: flex;
    justify-content: center;
    word-break: normal;
    width: 360px;
    margin: 0 auto;
  }

  #highlights {
    margin-left: 20px;
  }

  .related {
    margin-top: 20px !important;
  }
}
