@use "./reset";
@use "./fonts" as *;

@use "./components/website/hero" as *;

@use "../sassfiles/components/website/navbar" as *;
@use "../sassfiles/pages/website/home" as *;
@use "../sassfiles/pages/website/newHome" as *;
@use "../sassfiles/pages/website/services" as *;
@use "../sassfiles/pages/website/about" as *;
@use "../sassfiles/pages/website/inspoPage" as *;
@use "../sassfiles/pages/website/contact" as *;
@use "../sassfiles/pages/website/blog" as *;
@use "../sassfiles/pages/website/blogReadMore" as *;
@use "../sassfiles/pages/website/preorder" as *;
@use "../sassfiles/components/website/footer" as *;

//author
@use "./pages/website/author" as *;

