@use "../../colors" as *;

.WorkWithUsBtn {
  // background-color: $terbtncolor;
  color: $prytextcolor;
  border: 2px solid $terbtncolor;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  // border: none;
  font-weight: 600;
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  &:hover {
    background-color: $terbtncolor;
    color: $sectextcolor;
  }
}
.WorkWithUsBtnn {
  // background-color: $terbtncolor;
  color: $prytextcolor;
  border: 2px solid #fbb03b;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  // border: none;
  font-weight: 600;
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  &:hover {
    background-color: #fbb03b;
    color: $sectextcolor;
  }
}

.linkColor {
  color: $prytextcolor;
  &:hover {
    color: #0d6efd;
  }
}

.ChallengeBtn {
  width: 180px;
  height: 50px;
  color: $prytextcolor;
  border-radius: 15px;
  border: 2px solid $terbtncolor;
  background: rgba(94, 178, 81, 0.04);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  &:hover {
    background-color: $terbtncolor;
    color: $sectextcolor;
  }
}
.PublishNowPayLaterBtn {
  width: 240px;
  height: 50px;
  color: $prytextcolor;
  border-radius: 15px;
  border: 2px solid $terbtncolor;
  background: rgba(94, 178, 81, 0.04);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  &:hover {
    background-color: $terbtncolor;
    color: $sectextcolor;
  }
}

.CreativesLink,
.AuthorsLink {
  color: $secbtncolor !important;
  font-weight: 600;
  font-family: "Comic Neue", cursive;
  font-size: 1.27rem;
  &:hover {
    color: $secbtncolor !important;
  }
}

.LinkedIncolor {
  color: #0072b1 !important;
}
.IGcolor {
  color: #e4405f !important;
}
.Twittercolor {
  color: #00acee !important;
}
