@use "../../colors" as *;
@media only screen and (max-width: 991px) {
  .Navitemmobile {
    background: #fff;
    color: #000000;
    border: 1px solid $terbtncolor !important;
    border-radius: 4px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 14rem;
    height: 1.8rem;
    &:hover {
      background: $terbtncolor !important;
      color: #fff;
    }
    &:focus {
      background: $terbtncolor !important;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Navicons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .NavUL {
    align-items: center;
    justify-content: center;
  }
}
.navText {
  font-weight: 400;
  font-family: "Comic Neue", cursive;
}

@media only screen and (max-width: 1600px) {
  .Navitemlarge {
    &:hover {
      color: $terbtncolor !important;
    }
  }
}
/* Example CSS */
// .active {
//   color: #ff0000; /* Change this to the desired active link color */
// }

// .activeNavItem {
//   color: #ff0000; /* Set the desired active color */
// }
